.bg-gradient-primary-to-secondary {
  background: #0e1bb0;
  background: linear-gradient(135deg, #3444ec 0%, #0bb7f6 100%);
}
.text-gradient {
  background: -webkit-linear-gradient(135deg, #3444ec 0%, #0bb7f6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}